.container {
	display: grid;
	grid-template-columns:  1fr 2fr 2fr;
	grid-template-rows: 1fr 2fr 3fr;
	grid-template-areas: 
	"leftnav header header"
	"leftnav graphs graphs"
	"leftnav bottom footer"
}

/*===========Header Section===========*/
header {
	background-color: red;
	grid-area: header;
}

.search {
	border-bottom: 2px solid lightgray;
	display: grid;
	grid-template-columns:  50px 4fr 50px 50px 50px;
	grid-template-rows: 50px;
	grid-template-areas: 
	"menu search user cal apps";
}
#menu {
	grid-area: menu;
}

.search-input {
	border-right: 2px solid lightgray;
	grid-area: search;
}

#add-user {
	grid-area: user;
}

#add-cal {
	grid-area: cal;
}

#apps {
	grid-area: apps;
}

.search-icon {
	padding: 15px;
	border-right: 2px solid lightgray;
}

.mid-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.head-text {
	margin-left: 5%;
}

.location {
	margin-top: -10px;
}

.buttons {
	margin-right: 5%;
}

.tabs {
	overflow: scroll;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tab--text {
	margin-left: 5%;
	font-size: 70%;
}
/*==========Left Nav Section==========*/

ul {
	list-style: none;
}

.left-nav {
	background-color: cyan;
	grid-area: leftnav;
}

.profile-img {
	height: 75px;
	border-radius: 100%;
}

.check-please {
	
}

input[type="checkbox"]{
	visibility: hidden;
}

label{
	cursor: pointer;
}

input[type="checkbox"] + label:before{
	border: 1px solid #333;
	content: " ";
	display: inline-block;
	height: 16px;
	padding: 0;
	vertical-align: top;
	width: 16px;
}

input[type="checkbox"]:checked + label:before {
  background: yellow;
  color: #333;
  content: "\2713";
  text-align: center;
}

/*===========Graphs Section===========*/
.graphs {
	background-color: green;
	grid-area: graphs;
}
/*===========Bottom Section===========*/
.bottom {
	background-color: magenta;
	grid-area: bottom;
}
/*==========Footer Section============*/
footer {
	background-color: yellow;
	grid-area: footer;
}