* {
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: grid;
	grid-template-columns:  1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas: 
	"header header header"
	"graphs graphs graphs"
	"bottom bottom footer"
}

/*===========Header Section===========*/
header {
	background-color: #ffffff;
	grid-area: header;
}

.search {
	border-bottom: 2px solid #f7f7f9;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns:  50px 50px 4fr 50px 50px 50px;
	grid-auto-rows: 50px;
	grid-template-areas: 
	"menu glass search user cal apps";
}
#menu-toggle {
	grid-area: menu;
}

.search-box {
	grid-area: search;
	
}

.search-input {
	height: 100%;
	width: 100%;
	border: 0;
}

#add-user {
	grid-area: user;
}

#add-cal {
	grid-area: cal;
}

#apps {
	grid-area: apps;
}

.search-icon {
	padding: 15px;
	border-left: 3px solid #f7f7f9;
	cursor: pointer;
	color: #a7abb1;
}

.search-icon:hover {
	color: white;
	background-color: #00a4ff;
}

.header-bottom {
	display: grid;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	grid-template-areas: 
	"Big-txt Buttons"
	"tabs tabs";
}

.mid-head {
	grid-area: Big-txt;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.head-text {
	margin-left: 5%;
}

.location {
	margin-top: -10px;
}

.buttons {
	grid-area: Buttons;
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.open {
	border-color: #e8e8ea;
	background-color: #fefefe;
	color: #9b9fab;
	border-radius: 100px;
	overflow: none;
	font-size: 1vw;
}

.btn-circle {
	border-radius: 100%;
	border-color: #e8e8ea;
}


.btn-icon {
	color: #9b9fab;
}

.tabs {
	grid-area: tabs;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	
}

.tab--text {
	margin-left: 5%;
	font-size: 70%;
}
/*==========Hamburger Section==========*/
.open-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #334052;
	opacity: 0.95;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.5s;
}

.side-nav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: #ccc;
	display: block;
	transition: 0.3s;
}

.side-nav a:hover{
	color: #fff
}

.side-nav .btn-close {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 36px;
}

/*==========Left Nav Section==========*/
.left-nav {
	display: flex;
	flex-direction: column;
	color: #98a3b5;
}

ul {
	list-style: none;
	color: #576577;
	padding-left: 10px;
}

li {
	color: #98a3b5;
}

.nav-i {
	display: inline-block;
	padding-right: 10px;
}

.profile {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h4 {
}

.main {

}

.admin {

}

.categories {

}

.profile-img {
	height: 75px;
	border-radius: 100%;
}

.check-please {
	
}

input[type="checkbox"]{
	visibility: hidden;
}

.click{
	cursor: pointer;
}

input[type="checkbox"] + label:before{
	border: 1px solid #333;
	content: " ";
	display: inline-block;
	height: 16px;
	padding: 0;
	vertical-align: top;
	width: 16px;
}

input[type="checkbox"]:checked + label:before {
	background: yellow;
	color: #333;
	content: "\2713";
	text-align: center;
}

/*===========Graphs Section===========*/
.graphs {
	background-color: #ecf2f6;
	padding: : 30px;
	grid-area: graphs;
	display: grid;
	grid-auto-columns: 50%;
	grid-template-rows: 1fr 55px;
	grid-template-areas: 
	"circle bars"
	"divider divider";
}

.circle {
	grid-area: circle;
}

.bars {
	grid-area: bars;
}

.graph-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

#bar-graph {
	width: 80%;
	height: 60%;
	box-shadow: 1px 1px 5px 5px #6a7e97;
}

.graph-button {
	border-radius: 100px;
	margin-top: 15px;
}

.graph-button:hover {
	background-color: #6a7e97;
	color: white;
}
/*==========Line Divider===============*/
.line-container {
	grid-area: divider;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

span, .line-up {
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	border: 0;
}

.line-up:hover {
	background-color: #6a7e97;
	color: white;
	border: 0;
}

.outer-line {
	width: 45%;
	border-bottom: 1px solid lightgrey;
}
/*===========Bottom Section===========*/
.bottom {
	background-color: #ecf2f6;
	grid-area: bottom;
}

table {
	border-collapse: collapse;
	margin: 30px;
}

.t-title {
	background-color: #6a7e97;
	text-align: left;
	padding: 20px;
}

.t-header {
	margin: 0;
	display: inline-block;
	color: #d5e0e8;
	padding: 10px;
}

.t-edit {
	background-color: #7a8ca8;
	color: white;
	border: 0;
	padding: 10px;
}

.t-name,
.t-detail,
.t-hr {
	background-color: white;
	padding: 10px 20px;
	vertical-align: center;
}

.t-name {
	display: flex;
	justify-content: flex-start;
}

.t-img {
	border-radius: 100%;
	width: 50px;
}
/*==========Footer Section============*/
footer {
	background-color: #ecf2f6;
	grid-area: footer;
}